<h1 mat-dialog-title>Edit Profile</h1>

<div mat-dialog-content>

  <div class="table-spinner" *ngIf="spinnerService.visibility | async">
    <app-spinner></app-spinner>
  </div>

  <app-alert></app-alert>

  <form #userForm="ngForm">
    <mat-form-field>
      <label>
        <input type="text" matInput placeholder="Name" name="name" [(ngModel)]="user.name" #name="ngModel" required>
      </label>
      <mat-error *ngIf="name.touched && name.invalid">
        <small class="mat-text-warn" *ngIf="name?.errors.required">Name is required.</small>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <label>
        <input type="email" matInput placeholder="Email" name="email" [(ngModel)]="user.email" #email="ngModel" required>
      </label>
      <mat-error *ngIf="email.touched && email.invalid">
        <small class="mat-text-warn" *ngIf="email?.errors.required">Email is required.</small>
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-flat-button (click)="closeModal()">Cancel</button>
  <button color="primary" mat-raised-button (click)="saveUser()"
          [ngClass]="userForm.form.invalid ? 'cursor-not-allowed' : 'cursor-pointer'"
          [disabled]="userForm.form.invalid || isDisableBtn">
    Submit
  </button>
</div>
